// :root {
// --dark-1: #111111;
// --dark-2: #232323;
// --dark-3: #1d1d1d;
// --gray: #535353;
// --lightgray: #a3a3a3;

//   --primary-light: #fd8e05;
//   --primary-main: #f25e07;
//   --primary-dark: #bc4702;

//   --secondary-light: #e5196a;
//   --secondary-main: #b41152;
//   --secondary-dark: #850c3c;
// }

$transparent: rgba(255, 255, 255, 0.1);
$light: #ffffff;
$primary-light: #fd8e05;
$primary-main: #f25e07;
$primary-dark: #bc4702;

$secondary-light: #e5196a;
$secondary-main: #b41152;
$secondary-dark: #850c3c;
